.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: solid 1px black;
}
.nav-items > ul{
    list-style-type:none;
    display:flex;
}
.nav-items > ul >li {
    padding: 10px;
}
.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;

}
/* .card > img{
    width: 250px;
} */
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
.header > img{
    width: 100px;
}
.shimmer-card{
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    margin: 20px;
}
.menu{
    display: flex;
}